.label {
   display: block;
   width: 100%;
   font-weight: bold;
   font-size: 18px;
}

.input {
   border-radius: 5px;
   display: flex;
   padding: 10px;
   font-size: 15px;
   border: 1px solid #b8b8b8ff;
}
